{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать запись</title>
    <link rel="stylesheet" href="{% static 'css/style_for_create.css' %}">

</head>
<body style="
    background-image: url('https://bogatyr.club/uploads/posts/2023-02/1675476878_bogatyr-club-p-pioni-svetlie-fon-vkontakte-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Убирает отступы по умолчанию */
    height: 100vh; /* Заставляет тело занимать всю высоту экрана */
">
<nav>
        <a href="{% url 'view_appointments' %}">Назад к записям</a>
</nav>
    <h1>Создать новую запись</h1>
    <form method="post">
        {% csrf_token %}

        <!-- Поле для выбора клиента -->
        <div>
            <label for="id_client">Клиент:</label>
            {{ form.client }}  <!-- Отображаем выбор клиента -->
        </div>

        <!-- Поле для выбора услуги -->
        <div>
            <label for="id_service">Услуга:</label>
            {{ form.service }}  <!-- Отображаем выбор услуги -->
        </div>

        <!-- Поле для указания персонала -->
        <div>
            <label for="id_staff_member">Персонал:</label>
            <input type="text" name="staff_member" id="id_staff_member" required>
        </div>

        <!-- Поле для ввода даты посещения -->
        <div>
            <label for="id_appointment_date">Дата посещения:</label>
            <input type="date" name="appointment_date" id="id_appointment_date" required>
        </div>

        <!-- Поле для ввода времени посещения -->
        <div>
            <label for="id_appointment_time">Время посещения:</label>
            <input type="time" name="appointment_time" id="id_appointment_time" required>
        </div>

        <button type="submit">Создать запись</button>
    </form>

</body>
</html>