{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav>
            <a href="{% url 'news' %}">Назад к новостям</a>
    </nav>
    <title>Создать новость</title>
        <link rel="stylesheet" href="{% static 'css/style_for_create.css' %}">
</head>
<body style="
    background-image: url('https://bogatyr.club/uploads/posts/2023-02/1675476878_bogatyr-club-p-pioni-svetlie-fon-vkontakte-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Убирает отступы по умолчанию */
    height: 100vh; /* Заставляет тело занимать всю высоту экрана */
">
    <h1>Создать новую новость</h1>
    <form method="post" enctype="multipart/form-data">  <!-- Не забудьте enctype для загрузки файлов -->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Создать новость</button>
    </form>

</body>
</html>