{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">  <!-- Подключаем CSS файл -->
</head>
<body style="
    background-image: url('https://bogatyr.club/uploads/posts/2023-02/1675476878_bogatyr-club-p-pioni-svetlie-fon-vkontakte-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Убирает отступы по умолчанию */
    height: 100vh; /* Заставляет тело занимать всю высоту экрана */
"><nav>
        <a href="{% url 'news' %}">Новости салона</a>
         {% if request.user.is_authenticated and request.user.profile.role == 'admin' %}
            <!-- Добавляем ссылку только для администраторов -->
            <a href="{% url 'create_appointment' %}">Создать запись</a>
        {% endif %}
        <a href="{% url 'view_appointments' %}">Просмотреть записи</a>
        {% if request.user.is_authenticated and request.user.profile.role == 'admin' %}
            <!-- Добавляем ссылку только для администраторов -->
            <a href="{% url 'add_spa_service' %}">Создать новую услугу</a>
        {% endif %}
        <a href="{% url 'view_spa_services' %}">Просмотреть возможные услуги</a>

    {% if request.user.is_authenticated and request.user.profile.role == 'admin' %}
    <a href="{% url 'statistics_page' %}">Страница статистики</a>
{% endif %}

    </nav>

    <h1>Добро пожаловать на главную страницу!</h1>
    <p>Вы успешно вошли в систему.</p>

    {% if user.is_authenticated %}
        {# Проверка наличия профиля #}
        {% if request.user.profile %}
            {% if request.user.profile.role == 'admin' %}
                <h2 align="center">Вы имеете права администратора!</h2>
                <p>Вы можете управлять записями и выполнять дополнительные действия.</p>
                {# Здесь вы можете добавить дополнительные ссылки или действия для администраторов #}
            {% elif request.user.profile.role == 'user' %}
                <h2 align="center">Вы имеете права пользователя!</h2>
                <p>Вы можете создать новую запись или просмотреть свои записи.</p>
            {% endif %}
        {% else %}
            <p>Профиль не найден. Пожалуйста, свяжитесь с администратором.</p>
        {% endif %}
    {% else %}
        <p>Пожалуйста, <a href="{% url 'login' %}">войдите в систему</a>, чтобы получить доступ к функциям.</p>
    {% endif %}
        <a href="{% url 'logout' %}" class="logout-link">Выход</a>  <!-- Ссылка для выхода -->


</body>
</html>