<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Путь к вашим CSS -->

</head>
<body style="
    background-image: url('https://bogatyr.club/uploads/posts/2023-02/1675476878_bogatyr-club-p-pioni-svetlie-fon-vkontakte-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Убирает отступы по умолчанию */
    height: 100vh; /* Заставляет тело занимать всю высоту экрана */
">
    <div class="container">
        <h2>Вход</h2>
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="username">Логин:</label>
            <input type="text" name="username" required>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required>
            <button type="submit" style="background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0px;
    transition: background-color 0.3s ease;
" onmouseover="this.style.backgroundColor='#45a049'" onmouseout="this.style.backgroundColor='#4CAF50'">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </div>
</body>
</html>